.formStatus {
    padding: 2rem;

    &.fail {
        background-color: #f25457;
        color: white;
        text-align: center;
    }

    &.success {
        background-color: #a3f7bf;
        color: black;
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        input {
            &:not([type="submit"]) {
                border: none;
                border-bottom: 1px solid black;
                padding: 0.5rem;
            }
        }

        p {
            color: #f25457;
        }
    }

    .buttonsBox {
        display: flex;
        flex-direction: row;
        justify-content: center;

        input[type="submit"] {
            background-color: #f4b6f6;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            margin-right: 0.5rem;
            padding: 0.7rem;
        }


        #cancel {
            background-color: transparent;
            border: 2px solid #f4b6f6;
            border-radius: 0.5rem;
            box-sizing: border-box;
            cursor: pointer;
            padding: 0.7rem;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.boxButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input[type="submit"] {
        background-color: #f4b6f6;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-right: 0.5rem;
        padding: 0.7rem;
    }

    #cancel {
        background-color: transparent;
        border: 2px solid #f4b6f6;
        border-radius: 0.5rem;
        box-sizing: border-box;
        cursor: pointer;
        padding: 0.7rem;

        a {
            color: black;
            text-decoration: none;
        }
    }
}

